

body {
    height: auto;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(227, 199, 199);
   text-align: justify;
   position: sticky;
   
  }
  
  .header {
      overflow: hidden;
      background-color: #9cd3e1;
      padding: 10px 10px;
      margin-inline: 0;
    
    }
  
  .header a {
      float: left;
      color: brown;
      text-align: left;
      padding: 10px;
      text-decoration: none;
      font-size: 18px; 
      border-radius: 5px;
      border-color: burlywood;
      font-family: fantasy;
      font-weight: 800;
      font-style: inherit;
    }
  
    .header a:hover {
        background-color:rgb(243, 150, 150);
        color: black;
      }
  
  .header-right {
      font-family: serif;
      font: xx-large;
    float: right;
  }
  
  p {
      color: black;
  }
  .brial {
    font-weight: 700;
}
.contacts {
    color: rgb(2, 2, 2);
}
.location {
    color: rgb(2, 2, 2);
}
.follow {
    color: rgb(2, 2, 2);
}
  h3 {
    color: slateblue;
    font: x-large;
    font-family: cursive;
    font-style: normal;
}
img {
    border: 0.5px transparent pink;
    border-color: brown;
    border-style: initial;
    padding: 10px;
}
.myimages{
  display: flex;
}
.firstimage,.secondimage,.thirdimage{
  height: 490px;
  width: 350px;
 object-fit: cover;
 border-radius: 25px;
}
.image {
    height: 300px;
    width: 1200px;
   object-fit: cover;
   border-radius: 25px;
  
}
.icons {
    height: 20px;
    width: 20px;
}
h4 {
    color: slateblue;
    font: x-large;
    font-family: cursive;
    font-style: normal;
    font-weight: 700;
}
ul {
    color: black;
    font: initial;
}
.article {
    align-items: stretch;
    color:rgb(2, 2, 2);
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .footer {
    
    padding: 10px 10px;
    margin-inline: 0;
    position: static;
    padding: 0;
}
 
  .footer-right {
    font-family: serif;
    font: x-large;
  }
  .footer-center {
    font-family: serif;
    font: xx-large;
  }
  #my-email {
    
    width: 260px;
    
}
  
    
    
  





  
  